/Fase.class
/Grupo.class
/HistoricoAcao.class
/Imagem.class
/Jogador.class
/Jogo.class
/Jornada.class
/Pessoa.class
/ResponsavelEscola.class
/TESTE_apef.class
/Torneio.class
/Treinador.class
/Utilizador.class
